#visualtextheading {
  font-size: 8px;
  color: lightslategray;
  font-family: Helvetica;
  margin-left: 1%;
}
.containerHeader {
  display: flex;
  padding: 7px;
}
.lefticonVisual {
  color: black;
  font-size: 19px;
}
.bg-white {
  margin-left: 120%;
  padding: 4px 120px 4px 4px;
  text-align: start;
  background-color: rgb(250, 248, 241);
  font-size: 13px;
}
.containersearchbox input {
  border: 1px grey;
  margin-top: 1px;
}
.RightIconsofContainer {
  color: black;
  font-size: 17px;
  margin-left: 301px;
  padding: 1px;
  display: flex;
  gap: 53.7px;
  margin-top: 3px;
}
.SecondLineText {
  display: flex;
  font-size: 5px;
  gap: 9px;
  margin-left: 1%;
}
