.header {
  background-color: #202020;
  margin: 0px;
  padding: 9px;
  display: flex;
  position: fixed;
  width: 100vw;
}

.lefticons {
  color: white;
  margin-left: 1%;
  font-size: 23px;
  padding: 3px;
  display: flex;
  gap: 26px;
  margin-top: 1px;
}
span {
  font-size: 18px;
  color: white;
  margin-top: 5px;
  font-weight: bold;
}
sub {
  color: rgb(221, 200, 200);
  margin-top: 4px;
}

.righticons {
  color: white;
  margin-top: 1px;
  margin-left: 39%;
  font-size: 23px;
  padding: 3px;
  display: flex;
  gap: 26px;
}
