.PurpleBox {
  background-color: #682078;
  margin-top: 180px;
  width: 12vw;
  margin-left: 1vw;
  height: 10vw;
  color: white;
  padding: 32px;
  text-overflow: none;
}

#PurpleBoxes {
  display: flex;
  position: fixed;
  margin-left: 7vw;
  flex-wrap: wrap;
}
