.righticonheader {
  margin-top: 6vw;
  width: 32vw;
  margin-left: 69vw;
  height: 4vw;
  position: fixed;
}
.whitebackground {
  color: black;
}
button {
  width: 49px;
  height: 38px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid white;
  padding: 7px;
  border-radius: 34px;
}
.C {
  border: 1px solid rgb(233, 232, 232);
  background-color: #373737;
  color: white;
}
.databases {
  border: 1px solid rgb(233, 232, 232);
  border-radius: 23px;
  background-color: #373737;
  color: white;
  width: 100px;
}
.Cplus {
  border: 1px solid rgb(233, 232, 232);
  background-color: #373737;
  color: white;
  width: 60px;
}
.computers {
  border: 1px solid rgb(233, 232, 232);
  background-color: #373737;
  color: white;
  width: 100px;
}

.buttonclass {
  display: flex;
  gap: 7px;
}
.RightContainerImageText {
  width: 28vw;
  margin-left: 69vw;
  height: 37vw;
  position: fixed;
}
.images {
  margin-top: 9.9vw;
  display: grid;
  width: 160px;
  height: 90px;
  gap: 9px;
  position: fixed;
}

.GreysmallText {
  color: #69655b;
  font-size: 12px;
}
.SideHeadingImageText {
  display: grid;
  gap: 13px;
  color: white;
  font-size: 7px;
  margin-left: 13vw;
  margin-top: 9.2vw;
}
h2 {
  color: #69655b;
  font-size: 11px;
  margin-top: 20px;
}
.BiCheckCircle {
  color: black;
}
.rightside {
  position: fixed;
}
