#visualtextheading {
  font-size: 8px;
  margin-left: 6px;
  padding: 0px;
  color: #777579;
  font-family: Helvetica;
}
.containerHeader {
  display: flex;
  padding: 8px;
}
.lefticonVisual {
  color: black;
  font-size: 15px;
  margin-top: 2px;
}
.QuickLaunchSearchBar {
  margin-left: 203%;
  padding: 4px 40px 3px 4px;
  text-align: start;
  background-color: #fcfcfd;
  font-size: 13px;
}
.containersearchbox input {
  border: 1px grey;
  margin-top: 1px;
}
.RightIconsofContainer {
  color: black;
  font-size: 17px;
  margin-left: 370px;
  padding: 1px;
  margin-top: 3px;
  display: flex;
  gap: 30px;
}
.SecondLineText {
  display: flex;
  font-size: 5px;
  gap: 9px;
  margin-left: 1%;
  flex-wrap: wrap;
  color: #a5a1a6;
}
.container {
  position: fixed;
}
