.righticonbuttonheader {
  margin-top: 6vw;
  width: 32vw;
  margin-left: 69vw;
  height: 4vw;
}
.whitebackground {
  color: black;
}
button {
  width: 49px;
  height: 38px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid white;
  padding: 7px;
  border-radius: 34px;
}
.C {
  border: 1px solid rgb(233, 232, 232);
  background-color: #373737;
  color: white;
}
.databases {
  border: 1px solid rgb(233, 232, 232);
  border-radius: 23px;
  background-color: #373737;
  color: white;
  width: 100px;
}
.Cplus {
  border: 1px solid rgb(233, 232, 232);
  background-color: #373737;
  color: white;
  width: 60px;
}
.computers {
  border: 1px solid rgb(233, 232, 232);
  background-color: #373737;
  color: white;
  width: 100px;
}

.buttonclass {
  display: flex;
  gap: 7px;
}

.rightimagetext {
  width: 28vw;
  margin-left: 69vw;
  height: 37vw;
  overflow: hidden;
  float: none;
}

.images {
  margin-top: 1vw;
  display: flex;
  flex-flow: column;
  width: 12vw;
  gap: 9px;
  position: fixed;
}

.GreysmallText {
  color: #69655b;
  font-size: 12px;
}
.rightcontainertext {
  display: flex;
  flex-flow: column;
  gap: 17px;
  color: white;
  font-size: 7px;
  margin-left: 13vw;
  margin-top: 0.5vw;
  height: 36vw;
  overflow: hidden;
}
.rightside {
  position: absolute;
  overflow: hidden;
}
